core
Makefile*
*~
libnodes.so
libcd3core.so
*.o
*.pyc
cd3
testcore/testcore
*.pro.user
callgrind.*
qtc-gdbmacros
tmp/*
*object_script.*
imgs/*
time/*
3rdparty/boost_1_38_0/
3rdparty/threadpool-0_2_5/
